[Install]
WantedBy=multi-user.target

[Unit]
Requires=consul.target swarm.service
Description=Service registry bridge for Docker
Documentation=https://github.com/lindenlab/registrator
Wants=cloud-final.service consul.target swarm.service
After=cloud-final.service consul.target swarm.service

[Service]
EnvironmentFile=/etc/default/registrator
ExecStart=/usr/bin/registrator $REGISTRATOR_OPTS
Restart=always
RestartSec=60

