[Install]
WantedBy=multi-user.target

[Unit]
Description=Service registry bridge for Docker
Documentation=https://github.com/lindenlab/registrator
After=ll-pgi-config.target docker.service
Requires=ll-pgi-config.target docker.service

[Service]
EnvironmentFile=/etc/default/ec2meta 
EnvironmentFile=/etc/default/registrator
ExecStart=/bin/bash -c "DOCKER_HOST=tcp://${PRIVATE_IPV4}:2375 /usr/bin/registrator $REGISTRATOR_OPTS"
Restart=always
RestartSec=60

